 *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior:smooth;
  }
  body{
    font-family: poppins;
    background: #24263b;

  }
  
  nav{
    background: #1f2235;
    height: 80px;
    width: 100%;
    position: fixed;
    transition: 5s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.323);
  }

  
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    transition: 5s;
  }
  span{
      color:#ff4a57 ;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: 5s;
  }

  nav a:hover{
      color: #ff4a57;
      transition:  .3s;
  }
 
  .checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-top: 0px;
    position: ;
  }
  #check{
    display: none;
  }
  @media (max-width: 890px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
    .checkbtn{
      font-size: 30px;
      color: rgb(255, 255, 255);
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
      margin-top: 0px;
      position: ;
    }
  }
  @media (max-width:400px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #ffffff;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  @media (max-width:1069px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #ffffff;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  
  
  
/*section one*/
  section {
      padding: 100px 60px;
     
     
  }

  .main{
      width: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      background: url(img/section.png) no-repeat;
      background-position:right 100px bottom ;
      background-size: 400px;
      }
      

.main h2{
    color: #fff;
    font-family: poppins;
    font-size: 54px;
    margin: 20px 0px 15px;
    transition:  0.7s ease;
}

.main p{
    color: #fff;
    font-family: poppins;
    font-size: 26px;
    margin: 20px 0px 25px;
}

.main-btn{
    color: #fff;
    text-decoration: none;
    font-size: 16px; 
    padding: 10px 20px;
    font-weight: 600;
    display: inline-block;
    border-color:#ff4a57; ;
    border-radius: 50px;
    border-style: solid;
    margin-right: 20px;
   
}
.play-btn{
    color: #fff;
    text-decoration: none;
    font-size: 16px; 
    padding: 10px 20px;
    font-weight: 600;
    display: inline-block;
    border-color:#ff4a57; ;
    border-radius: 50px;
    border-style: solid;
    background-color: #ff4a57;
   
}

.social-icons a{
    color: white;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    border-color:#ff4a57 ;
    border-style: solid;
    
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.social-icons a:hover{
    background-color: #ff4a57;
    transition: .3s ease;
}



.main-btn:hover{
    background-color: #ff4a57;;
}

/* section two */
.cards{
   background-color: #1f2235;
}

.text{
  text-align: center;
  line-height: 1.5;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.text h1{
  font-family: poppins;
  color: #fff;
}
.text h4{
  color: #ff4a57;
  font-family: poppins;
}

.text p{

color: #fff;
margin: 0px 0px 16px;

}
.card h3{
  font-family: poppins;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  margin: 30px 0px 20px;
  text-align: left;
  
}

.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 4rem;
  grid-gap: 30px;
  width: 80%;
  margin: auto;
 
}

.card{
  
  text-align: center;
  padding: 4rem;
  line-height: 1.5;
  background-color: #24263b;
}
.card .icon{
  color: #ff4a57;
  font-size: 50px;
  text-align: left;
  
  margin-top: 0;
}

.card p{
  text-align: left;
  color:#fff ;
  font-family: poppins;
}

.card:hover{
 
  transition: all 200ms;
  background-color: #ff4a57;
  
}
.card:hover .icon i{
 color: #fff;

}

/*secton tree*/
.about-me{
  text-align: center;
  line-height: 1.5;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;


}
.about-me h1{
  color: #fff;
  font-family: poppins;
}

.about-me p{
  color: #fff;
  font-family: poppins;
}
.content img{
 margin-left: 0px;
}
.about{
  width: 100%;
  padding: 78px 0px;

}
.about-text {
  
  color: #fff;
  font-size: 16px;
  font-family: poppins;
  margin: 35px;

}

.text {
  width: 550px;
  max-width: 100%;
  padding: 0 10px ;
  

}
.content h1{
  margin: 0px 0px 10px 0px;
}
.content{
  width: 1280px;
  margin: 95%;
  margin: 0 auto;
  display: flex;
 
  align-items: center;
  justify-content: space-around;
}

.info{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-around;
  margin-left: -116px;
}

/*section four */



.left{
  width: 70%;
  margin-left: 50px;

}
.left h1{
  text-align: left;
  font-size: 30px;
  font-family: poppins;
  color: #fff;
}

.left p {
  font-size: 16px;
  color:#fff ;
}
.hire{
  color: #fff;
  text-decoration: none;
  font-size: 16px; 
  margin-top: 15px;
  padding: 10px 20px;
  font-weight: 600;
  display: inline-block;
  border-color:#ff4a57; ;
  border-radius: 50px;
  border-style: solid;
  margin-right: 20px;
}
.hire:hover{
 background-color: #ff4a57; 
}
.sec-four{
  display: flex;
  height: 100%;
  place-items: center;
  background: #1f2235;;
  margin: 0px 0px 0px 0px;
}
::selection{
  color: #fff;
  background: #ce1717;
}
.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: none;
  margin-left: 200px;
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
  color: #f0f0f0;
  margin-left: -280px;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #89828287;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 0px;
  
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 0px;
  transform: scaleX(0);
  transform-origin: left;
  background: #ff4a57;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 90%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 70%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -0px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #fff;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  
  border-style: solid;
  border-color: #fff;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 1px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "90%";
}
.progress-line.jquery span::after{
  content: "81%";
}
.progress-line.python span::after{
  content: "70%";
}
.progress-line.mysql span::after{
  content: "90%";
}
@media screen and (max-width: 1200px){
  .about{
    width: 100%;
    height: auto;
   
  }
  .about-text{
    width: 50%;
    height: auto;
    display: block;
    
  }
  
  @media screen and (max-width: 900px){
      .sec-four{
        display: block;
        height: 50%;
  place-items: center;
  background: #1f2235;;
  margin: 0px 0px 0px 0px;
}

.desk{
  font-size: 10px;
}
.left{
  width: 100%;
}
      }
      .skill-bars{
        padding: 25px 30px;
        width: 100px;
        background: none;
        margin-left: 200px;
        border-radius: 10px;
      }
  }
@media screen and (max-width: 400px){
  .about{
    width: 100%;
    height: auto;
   
  }

  .about-text{
    width: 50%;
    height: auto;
    display: block;
    
  }

  .content{
    float: none;
    width: 80%;
   
  }
  
}
@media screen and (max-width: 1014px){
  .about{
    width: 100%;
    height: auto;
   
  }

  .about-text{
    width: 100%;
    height: auto;
    display: block;
    
    
  }

  .content{
    float: none;
    width: 80%;
   
  }
  
}
@media screen and (max-width: 768px){
.about-text{
  width: 80%;
  color: #fff;
  margin: auto;
  display: block;

}
.content{
  float: none;
  width: 100%;
  display: block;
  align-items: center;
}
.info{
  display: block;
  margin-top: 20px;
  
  justify-content: space-between;
  padding: auto;
  font-size: 15px;
  text-align: center;
  
  
}
}

}
/* section two responsive */
@media(max-width:1400px)  {
           .container{
             grid-template-columns: repeat(2.1fr);
             grid-grap:10px;
            width: 100%;
            grid-gap: 30px;
             
           }

           
           .card{
             padding: 3rem;
             

           }
  
}

@media screen and (max-width: 819px){
  .container{
    grid-template-columns: repeat(3fr);
    grid-gap: 30px;
   width: 100%;
    
  }
  .card{
    padding: 2rem;
    

  }
}

@media(max-width:900px){
  .container{
    grid-template-columns:1fr ;
    
    width: 110%;
  }
 
      .card{
        padding: 2rem;
      }
}

@media (max-width:858px){
    .main{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: url(img/section.png) no-repeat;
        background-position:center  bottom ;
        background-size:0;
        
        }
        .main h2{
            color: #fff;
            font-family: poppins;
            font-size: 42px;
            
            transition:  0.7s ease;
        }
        
        .social-icons a{
            color: white;
            font-size: 20px;
            padding: 8px;
            border-radius: 50px 6px;
            border-color:#ff4a57 ;
            border-style: solid;
            display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
    


